:root {
    --white-text-outline: 0 0 3px white, 0 0 3px white, 0 0 3px white, 0 0 3px white;
    --dark-text-outline: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
    --darker-text-outline: 0 0 6px black, 0 0 6px black, 0 0 6px black, 0 0 6px black;

    --light-shadow: rgba(0, 0, 0, 0.25);
    --dark-shadow: rgba(0, 0, 0, 0.4);
    --darker-shadow: rgba(0, 0, 0, 0.6);
    
    --light-button-outline: 3px white solid;
    --heavy-button-outline: 4px white solid;

    --odd-row-table-color: #FEEED5;
    --even-row-table-color: #E2BA87;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url(images/beach.jpeg);
    background-position: center;
    /* background-position-y: 20%; */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial', 'sans-serif' !important;
}

form {
    background-color: var(--light-shadow);
    border-radius: 20px;
    padding: 40px;
}

/* Styles for Header */

header {
    background-color: var(--dark-shadow);
    padding: 5px 15px;
    display: flex;
    align-items: center;
}

.header-text {
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    color: white;
    text-shadow: var(--darker-text-outline);
}

#header-center {
    background-color: var(--dark-shadow);
    max-width: 50%;
    text-align: center;
    border-radius: 20px;
    padding: 20px;
}

#header-left,
#header-right {
    flex: 1;
    display: flex;
}

#header-right {
    justify-content: flex-end;
}

.button-handler {
    display: flex;
    justify-content: space-evenly;
}

/* Styles for index.html */

.main-text {
    font-size: 75px;
    font-weight: bold;
    text-align: center;
    color: white;
    text-shadow: var(--darker-text-outline);
}

.container {
    place-items: center;
}

.sub-header-text {
    font-size: 30px;
	font-weight: bold;
    text-align: center;
	color: white;
    text-shadow: var(--dark-text-outline);
}

.center {
    position: fixed;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--dark-shadow);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    white-space: nowrap;
}

#center-buttons {
    background-color: var(--light-shadow);
    border-radius: 20px;
    padding: 20px;
}

.btn {
    width: 45%;
}

#hat {
    position: absolute;
    left: 48.5%;
    margin-top: -10.5%;
    transform: translate(-50%, -50%);
    max-width: 40%;
    height: auto;
    object-fit: cover;
    z-index: 1;
}

#rememberMeLabel {
    font-weight: bold;
    letter-spacing: 0.5px;
	color: white;
    text-shadow: var(--dark-text-outline);
}

/* Styles for contact.html */

#logo {
    width: 100px;
    height: 100px;
    left: 0;
}

#logo:hover {
    transition: 0.1s ease-in;
    filter: brightness(75%);
}

#add-contact-div {
    display: flex;
    margin-left: 1%;
}

#searchContactButton {
    background-image: url(images/search_contact.png);
    background-position: center;
    background-size: 55%;
    background-repeat: no-repeat;
    width: 10%;
}

#addContactButton {
    background-color: #198754;
    border: none;
    background-image: url(images/add_contact.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}

#addContactButton:hover {
    transition: 0.1s ease-in;
    background-color: #146c43;
}

#contactButtons {
    display: flex;
    align-items: end;
    justify-content: space-around;
}

#deleteButton {
    background-color: #ffffff00;
    border: none;
    background-image: url(images/delete_icon.png);
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
    display: flex;
    width: 40px;
    height: 40px;
}

#edit-btn {
    background-color: #ffffff00;
    border: none;
    background-image: url(images/edit_icon.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    width: 40px;
    height: 40px;
}

#contact-handler {
    display: flex;
    justify-content: space-between;
    background-color: var(--dark-shadow);
    border-radius: 10px;
    padding: 10px;
    margin: 30px 30% 0;
}

#contact-holder {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--darker-shadow);
    border-radius: 10px;
    padding: 10px;
    margin: 30px 0 30px;
}

.modal-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-image: url(images/beach.jpeg);
    background-repeat: no-repeat;
}

.modal-content form {
    width: 80%;
}

#logoutButton {
    width: 20%;
    border: var(--light-button-outline);
}

#table {
    margin-top: 15px;
}

#table th, td:last-child {
    max-width: 70px;
}

.table-wrapper {
    background-color: var(--darker-shadow);
    width: 100%;
    height: 100%;
    overflow: auto;
    display: inline-block;
    padding: 20px;
    margin-top: 30px;
    border-radius: 20px;
}

.table-wrapper tbody tr:hover {
    transition: 0.15s ease-in;
    filter: brightness(80%);
}

.table-striped > thead > tr > th {
    background-color: var(--even-row-table-color);
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
    background-color: var(--odd-row-table-color);
}

.table-striped > tbody > tr:nth-child(even) > td,
.table-striped > tbody > tr:nth-child(even) > th {
    background-color: var(--even-row-table-color);
}